@import url('https://fonts.googleapis.com/css?family=Sigmar+One&display=swap');
@import url('https://fonts.googleapis.com/css?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
    background-image: url('../images/bgMoraes-min.png');
}

.imglogo{
    display: flex;
    margin: 30px auto;
    max-width: 100%;
    width: 245px;
    height: 245px;
    background-color: rgba(212, 212, 212, 0.924);
    padding: 10px 10px;
    border-radius: 130px;
}

h1{
    color: red;
    margin: 15px;
    font-family: sans-serif;
    font-family: 'Josefin Sans', sans-serif;
}

section{
    margin: 0 25px;
    /* display: flex; */
}

hr{
    width: 95%;
    margin: 25px auto;
}

.container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    max-width: 800px;
    margin: 0 auto;
    grid-gap: 10px;
    color: black;
    background-color: rgba(177, 177, 177, 0.95);
    padding: 0px 10px;
    padding-bottom: 10px;
    overflow: hidden;
    border-radius: 5px;
}

img{
    max-width: 100%;
    border-radius: 5px;
    width: 112px;
    height: 112px;
    overflow: hidden;
    justify-self: center;
}

.tituloHamburguer{
    margin-top: 20px;
    grid-column: 1/4;
    font-family: 'Sigmar One', sans-serif;
    color: yellow;
}

.descricaoHamburguer{
    grid-column: 1/3;
    font-family: 'Bebas Neue';
    margin-top: 10px;
}

select{
    width: 45%;
    justify-self: center;
    color: white;
    background-color: black;
    border: black;
    padding: 6px;
    font-family: sans-serif;
}

.subtotalValor{
    font-family: 'Bebas Neue';
    font-size: 1.1rem;
    margin-top: 5px;
}

button{
    background-color: black;
    color: white;
    padding: 5px;
    font-family: sans-serif;
    border-radius: 4px;
    border: black;
}

.btnPedir{
    grid-column: 3;
    width: 60%;
    justify-self: center;
    margin-top: 5px;
}

.btn-goBack{
    display: grid;
    margin: 40px  auto;
}